html,body {
	margin:0;
	padding:0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	user-select: none;
}
#joypad {
	margin:10px 10px 8px;
	background:aquamarine;
	color:#fff;
	line-height:50vh;
	user-select: none;
}
#turnleft {
	margin:10px 10px 8px;
	background:aquamarine;
	color:#fff;
	line-height:25vh;
	user-select: none;
}
#turnright {
	margin:10px 10px 8px;
	background: aquamarine;
	color:#fff;
	line-height:25vh;
	user-select: none;
}